.password-recovery-container {
  display: grid;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  letter-spacing: 0.2px;
  background: #cde5f6;

  .login-error-message {
    color: #ff0000;
  }

  .password-recovery-container {
    display: grid;
    place-content: center;

    .password-recovery-content {
      display: grid;
      justify-content: center;
      margin: 0 auto;
      width: 384px;
      height: 332px;
      background: #fff;
      border: 1px solid #cde5f6;
      box-sizing: border-box;
      border-radius: 8px;
      text-align: center;

      .backStyle {
        display: flex;
        align-items: center;
        justify-content: end;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        padding: 10px;
      }

      .password-recovery-form {
        width: 384px;
        height: 332px;
        background: #fff;
        border: 1px solid #cde5f6;
        box-sizing: border-box;
        border-radius: 8px;

        .form-group {
          margin-top: 42px;

          .submit-btn {
            margin: 0 auto;
            background: #179879;
            border-radius: 4px;
            width: 40%;
            display: grid;
            place-content: center;
            height: 48px;
            color: #ffff;
            font-size: 16px;
            border: 0;
            cursor: pointer;
          }
        }

        .password-recovery-subtitle1 {
          font-size: 18px;
          line-height: 25px;
          letter-spacing: 0.2px;
          color: #686868;
          margin: 20px 30px;
          text-align: center;
        }

        .password-recovery-subtitle2 {
          font-size: 14px;
          line-height: 19px;
          letter-spacing: 0.2px;
          color: #686868;
          margin-top: 10px;
        }
      }
    }
  }
}
