.mainContainerForm {
  background: #CDE5F6;
  padding-bottom: 120px;
  padding-top: 120px;
  min-height: calc(100vh - 240px)

}

.login-registration-area {
  width: 384px;
  text-align: center;
  background: #FFFFFF;
  border: 1px solid #CDE5F6;
  box-sizing: border-box;
  border-radius: 8px;
  height: 525px;
  margin: auto;
  position: relative;
}

.loginStyle input {
  width: 304px;
  height: 48px;
  //position: initial;
  background: #FFFFFF;
  border: 1px solid #CDE5F6;
  box-sizing: border-box;
  border-radius: 4px;
}

.passStyle input {

  width: 304px;
  height: 48px;
  //position: initial;
  border: 1px solid #CDE5F6;
  box-sizing: border-box;
  border-radius: 4px;
}


.spanStyle {
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  align-items: center;
  text-align: center;
  color: #686868;
  width: 145px;
  height: 20px;
  padding-bottom: 28px;
  margin: 0;
}

.login-button {
  width: 152px;
  height: 48px;
  cursor: pointer;
  background: #FFFFFF;
  border: 2px solid #179879;
  box-sizing: border-box;
  border-radius: 4px;
}

.login-button:hover {
  background-color: #179879;
}


.forgotPassword {
  float: right;
  width: 200px;
  height: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: right;
  text-decoration-line: underline;
  color: #686868;
  padding-top: 15px;
}

.buttonLogin {
  width: 56px;
  height: 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #179879;
  padding-left: 20px;
}

.buttonLogin:hover {
  color: white;
}

.styleExit {
  color: #179879;
}
.styleExit:hover{
  color: white;
}
.styleWelcome {
  font-size: 22px;
  line-height: 30px;

  color: #1E1E1E;
}

.mainContainerRadio {
  display: inline-block;
  padding-top: 30px;
  padding-bottom: 30px;
  float: left;
}

.iconStyle {
  padding-top: 10px;
  padding-right: 10px;
  color: #BDBDBD;

}

* {
  font-family: Noto Sans Armenian;

}

